<!DOCTYPE html>
<html>
<head>
  <title>{{ .Metadata.Name }} {{ .Spec.Version }}</title>
  <meta charset="UTF-8">
  <style type="text/css">

    html {
      margin:    0 auto;
      max-width: 90%;
    }

    @font-face {
      src: url(https://www.norsk-tipping.no/ow/assets/fonts/jubel/Jubel-Regular.eot);
      src: url(https://www.norsk-tipping.no/ow/assets/fonts/jubel/Jubel-Regular.eot?#iefix) format("embedded-opentype"),
      url(https://www.norsk-tipping.no/ow/assets/fonts/jubel/Jubel-Regular.woff) format("woff"),
      url(https://www.norsk-tipping.no/ow/assets/fonts/jubel/Jubel-Regular.woff2) format("woff2"),
      url(https://www.norsk-tipping.no/ow/assets/fonts/jubel/Jubel-Regular.otf)
      format("otf"), url(https://www.norsk-tipping.no/ow/assets/fonts/jubel/Jubel-Regular.svg)
      format("svg"), url(https://www.norsk-tipping.no/ow/assets/fonts/jubel/Jubel-Regular.ttf) format("truetype");
      font-family: 'Jubel';
      font-weight: 400;
    }

    body {
      font-family: 'Jubel';
      font-size : 12pt;

    }

    table {
      width : 100%;
      border : 1px dotted #555555;
      margin-bottom: 20px;
      background-color: #c0c0c0;
    }

    th {
      background-color : #261440;
      color : #ffffff;
    }

    td {
      background-color : #efefef;
    }
    td, th {
      border-spacing: 1px;
      padding : 5px;

    }

  </style>
</head>

<body>

<h1>{{ .Metadata.Name }} {{ .Spec.Version }}</h1>
<p>{{ .Spec.Description }}</p>

{{ if gt (len .Spec.Resources) 0 }}
  <h2>Resource Dependencies</h2>
  <table>
    <tr>
      <th>Resource</th>
      <th>Version</th>
      <th>Type</th>
      <th>External</th>
      <th>Required</th>
      <th width="40%">Description</th>
    </tr>
    {{range .Spec.Resources}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Semop}} {{.Semver}}</td>
        <td>{{.Type}}</td>
        <td>{{.External}}</td>
        <td>{{.Required}}</td>
        <td>{{.Description}}</td>
      </tr>
    {{ end }}
  </table>
{{ end }}


{{ if gt (len .Spec.Environment.Local) 0 }}
  <h2>Local Enviroment Variables</h2>
  <table>
    <tr>
      <th>Variable</th>
      <th>Type</th>
      <th>Required</th>
      <th>Default Value</th>
      <th width="40%">Description</th>
    </tr>
    {{ range .Spec.Environment.Local}}
      {{ if gt (len .SecretFrom) 0 }}
        <tr>
          <td>{{.SecretFrom}}</td>
          <td>Secret</td>
          <td>{{.Required}}</td>
          <td>{{.Default}}</td>
          <td>A referenced secret. See secret section.</td>
        </tr>
      {{ end }}
      {{ if gt (len .EnvFrom) 0 }}
        <tr>
          <td>{{.EnvFrom}}</td>
          <td>Secret</td>
          <td>{{.Required}}</td>
          <td>{{.Default}}</td>
          <td>Environment variables from file. See config section for details.</td>
        </tr>
      {{ end }}
      {{ if and (eq (len .SecretFrom) 0) (eq (len .EnvFrom) 0) }}
        <tr>
          <td>{{.Name}}</td>
          <td>{{.Type}}</td>
          <td>{{.Required}}</td>
          <td>{{.Default}}</td>
          <td>{{.Description}}</td>
        </tr>
      {{end}}

    {{ end }}
  </table>
{{ end }}

{{ if gt (len .Spec.Environment.Build) 0 }}
  <h2>Build Enviroment Variables</h2>
  <table>
    <tr>
      <th>Variable</th>
      <th>Type</th>
      <th>Required</th>
      <th>Default Value</th>
      <th width="40%">Description</th>
    </tr>
    {{ range .Spec.Environment.Build}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Type}}</td>
        <td>{{.Required}}</td>
        <td>{{.Default}}</td>
        <td>{{.Description}}</td>
      </tr>
    {{ end }}
  </table>
{{ end }}


{{ if or (gt (len .Spec.Environment.External.Introduces) 0) (gt (len .Spec.Environment.External.Consumes) 0)  }}
  <h3>External Enviroment Variables</h3>

  {{ if gt (len .Spec.Environment.External.Introduces) 0 }}
    <h3>Introduced by Component</h3>
    <table>
      <tr>
        <th>Variable</th>
        <th>Type</th>
        <th>Required</th>
        <th>Default</th>
        <th width="40%">Description</th>
      </tr>

      {{ range .Spec.Environment.External.Introduces }}
        <tr>
          <td>{{.Name}}</td>
          <td>{{.Type}}</td>
          <td>{{.Required}}</td>
          <td>{{.Default}}</td>
          <td>{{.Description}}</td>
        </tr>
      {{ end }}
    </table>
  {{ end }}

  {{ if gt (len .Spec.Environment.External.Consumes) 0 }}
    <h2>Consumed by Component</h2>
    <table>
      <tr>
        <th>Variable</th>
        <th>Type</th>
        <th>Required</th>
        <th>Default</th>
        <th width="40%">Description</th>
      </tr>
      {{ range .Spec.Environment.External.Consumes}}
        <tr>
          <td>{{.Name}}</td>
          <td>{{.Type}}</td>
          <td>{{.Required}}</td>
          <td>{{.Default}}</td>
          <td>{{.Description}}</td>
        </tr>
      {{ end }}
    </table>
  {{ end }}
{{ end }}

{{ if .Spec.Config }}
  <h2>Configuration</h2>
  {{ range .Spec.Config }}
    <table>
      <tr>
        <td colspan="2">Name: {{.Name}}</td>
        <td>Type: {{.Type}}</td>
        <td>Global: {{.Global}}</td>
        <td width="40%">{{.Description}}</td>
      </tr>
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Required</th>
        <th>Default</th>
        <th>Description</th>
      </tr>
      {{ range .Options }}
        <tr>
          <td>{{.Name}}</td>
          <td>{{.Type}}</td>
          <td>{{.Required}}</td>
          <td>{{.Default}}</td>
          <td>{{.Description}}</td>
        </tr>
      {{ end }}
    </table>
  {{ end }}
{{ end }}

{{ if .Spec.Secret }}
  <h2>Secrets</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Global</th>
      <th width="40%">Description</th>
    </tr>
    {{ range .Spec.Secret}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Global}}</td>
        <td>{{.Description}}</td>
      </tr>
    {{end}}
  </table>

{{ end }}

</body>
</html>