<h1>{{ .Metadata.Name }} {{ .Spec.Version }}</h1>
<p>{{ .Spec.Description }}</p>

<h2>Resources</h2>
<ul>
{{range .Spec.Resources}}
    <li>{{ .Name }}, Semver: {{ .Semver}}</li>
{{ end }}
</ul>

<h2>Local Enviroment Variables</h2>
<ul>
{{ range .Spec.Environment.Local}}
  <li>{{ .Name }}</li>
{{ end }}
</ul>

<h2>External Enviroment Variables</h2>

<h3>Environment Variables Introduced by Component</h3>
<ul>
{{ range .Spec.Environment.External.Introduces}}
    <li>{{ .Name }} Type: {{ .Type }},Required: {{ .Required}}</li>
{{ end }}
</ul>

<h3>Environment Variables Consumed by Component</h3>
<ul>
{{ range .Spec.Environment.External.Consumes}}
    <li>{{ .Name }} Type: {{ .Type }},Required: {{ .Required}}</li>
{{ end }}
</ul>